.App {}

.App_Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    height: 48px;
    flex-shrink: 0;

    padding: 0 16px;

    z-index: 100;
}

.App_Content {
    margin-top: 48px;

    box-sizing: border-box;
    padding: 16px;
}

.App_TopBar {
    display: flex;
    flex-direction: row;

    margin-bottom: 8px;
}

.App_Lower {
    display: flex;
    flex-direction: row;
}

.App_Right {
    margin-left: 8px;
    flex-grow: 1;
}
