.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.App_Sidebar {
    width: 256px;
    background-color: #111111;
    padding: 32px;
}

.App_Content {
    padding: 32px;
}

.App_TopBar {
    display: flex;
    flex-direction: row;

    margin-bottom: 8px;
}

.App_Lower {
    display: flex;
    flex-direction: row;
}

.App_Right {
    margin-left: 8px;
}